
.rounded-full  {
  border-radius: 100%;
  font-weight:bold;
  display: flex;
  padding:3px;
  align-items: center;
}


#wrapper {
  overflow-x: hidden;
  background-color:#00b0ff

}
.col-md-3{
  font-size:2;
}


#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  text-transform: uppercase;
  text-align: center;
  font-size:15px;

}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  font-weight: bold;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}


#page-content-wrapper {
  min-width: 100vw;
}

#sidebar-heading{
  text-transform: uppercase;
  text-align: center;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
  font-weight: bold;
}

.list-group-item.active {
  background-color: transparent;
  color:black;
  font-weight: bold;
  border: none;
}

  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;

  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
.list-group-item list-group-item-action{
  background:transparent;
  font-weight:bold;
  color:red;
}

.fs-2{
  font-weight:bold;
}

.fs-5{
  font-weight:bold;
}
